*{margin: 0;padding: 0;text-decoration: none;font-family: "century gothic";}
body{
	background-color: #353535;
}
header{
	height: 70px;
	width: auto;
	min-width: 950px;
	background-color: whitesmoke;
}
header p{
	display: inline-block;
	padding: 10px 0 10px 80px;
	font-size: 40px;
	color: #696969;
}
header p:last-child{
	display: inline-block;
	padding: 23px 0 23px 10px;
	font-size: 15px;
	color: #696969;
}
section{
	max-width: 950px;
	width: 950px;
	height: auto;
	background-color: #353535;
	margin: 0 auto;
}
#menu{
	width: 135px;
	padding: 10px;
	float: left;
	list-style: none;
}
#menu li{
	width: 135px;
	height: 30px;
	background-color: #FFF;
}
#menu li a{ 
	color: #696969;
	display: block;
	width: 115px;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	margin-left: 10px;
	border-bottom: 1px solid lightgray;
	
}
#menu li a i{ 
	opacity: 0;
	width: 6px;
	height: 16px;
	padding: 0;
	float: right;
}
.content{
	width: 785px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: dimgrey;
	float: left;
	text-align: left;
}
.tp_p_n,.bt_p_n{
	height: 20px;
	width: 765px;
	padding: 10px;
	background-color: #FFFFFF;
}
.tp_p_n a,i,.bt_p_n a,i{
	padding: 0 10px;
	color: #222222;
}
.tp_p_n a:hover{
	color: limegreen;
}
.bt_p_n a:hover{
	color: limegreen;
}
.tp_p_n div,.bt_p_n div{
	float: right;
	width: auto;
	float: left;
}
.tp_p_n div:last-child,.bt_p_n div:last-child{
	float: right;
}
.main_content{
	min-height: 400px;
	height: auto;
	width: 765px;
	padding: 10px;
	background-color: #222222;
	color: limegreen;
	font-size: 14px;
	line-height: 26px;
}
.main_content a{
	color: lawngreen;
}
.main_content ul{
	padding-left: 20px;
}
footer{
	height: 300px;
	width: 100%;
	background-color: aqua;
}
.fot{
	height: auto;
	min-width: 950px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: darkgray;
}
.fot a:hover{
	color: #A9A9A9;
}
.b_nav{
	height: auto;
	width: 100%;
	text-align: center;
	display: block;
}
.b_nav ul{
	height: auto;
	width: 100%;
	display: block;
	padding: 15px 0;
	line-height: 30px;
}
.b_nav ul li{
	height: 30px;
	width: 32%;
	max-width: 200px;
	border-right: 1px solid #353535;
	display: inline-block;
}
.b_nav ul li:last-child{
	border-right: none;
}
.b_nav ul li a{
	height: 30px;
	width: 100%;
	color: #353535;
	display: inline-block
}
.about{
	width: 100%;
	height: 300px;
	float: left;
	background-color: ghostwhite;
	color: #353535;
	text-align: center;
	box-shadow: 0 10px 10px #222222 inset;
}
.about p{
	vertical-align: middle;
	line-height: 30px;
}
.about img{
	height: 90px;
	width: 90px;
}
table{border: 1px solid limegreen;}
table th{
	border: 1px solid limegreen;
	padding: 3px;
	text-align: center;
}
table td{
	border: 1px solid limegreen;
	padding: 3px;
	text-align: center;
}
pre{
	border: 1px dashed limegreen;
}
