*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html,body{
	background-color: white;
	font-family: "century gothic";
}
.nav a{
	color: white;
}
.nav a:hover{
	color: pink;
	/*background-color: rgba(0,0,0,0.2);*/
}
.nav{
	width: 100%;
	height: 70px;
	position: absolute;
	background-color: transparent;
	margin-bottom: -70px;
	z-index: 100;
}
.nav_div{
	height: 70px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}
.nav_left{
	height: 70px;
	width: 240px;
	display: inline-block;
	background-color: transparent;	
}
#avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 5px;
	float: left;
}
#unm{
	display: inline-block;
	height: 30px;
	width: 160px;
	text-align: center;
	float: left;
	margin-top: 10px;
}
.tog_lgo{
	height: 30px;
	width: 160px;
	line-height: 30px;
	font-size: 10px;
	float: right;
	margin-bottom: 0px;
}
.uop{
	height: 30px;
	width: 80px;
	float: left;
	display: inline-block;
	text-align: center;
}
.nav_right{
	height: 70px;
	width: 600px;
	float: right;
	background-color: transparent;
	display: block;
}
.nav_right ul{
	height: 70px;
	width: 600px;
	float: right;
	background-color: transparent;
}
.nav_right ul li{
	height: 70px;
	width: 150px;
	float: left;
	text-align: center;
	line-height: 70px;
}
.menu{
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	padding: 5px 5px;
	float: right;
	margin: 10px 10px 10px 10px;
	display: none;
}
.menu_top{
	height: 50px;
	width: 50px;
	background-color: transparent;
	border-radius: 3px;
	position: absolute;
	z-index: 100;
}
.menu1{
	height: 5px;
	width: 40px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: white;
	position: absolute;
	border-radius: 2px;
}
.menu2{
	height: 5px;
	width: 40px;
	margin-left: 5px;
	margin-top: 20px;
	background-color: white;
	position: absolute;
	border-radius: 2px;
}
.menu3{
	height: 5px;
	width: 40px;
	margin-left: 5px;
	margin-top: 35px;
	background-color: white;
	position: absolute;
	border-radius: 2px;
}
.bg{
	/*display: block;*/
	/*box-sizing: inherit;*/
	overflow: hidden;
	/*opacity: 1;*/
	/*height: 783px;*/
	width: 100%;
	background: url(../img/57.jpg) no-repeat 50% 50%;
	background-size: cover;
	/*background-size: 100%;*/
	background-position: top right;
	/*filter: brightness(0.8);*/
	/*z-index: -100;*/
}
.b_box{
	width: 100%;
	/*height: 783px;*/	
	position:absolute;
	background-color: rgba(0,0,0,0.2);
	z-index: 2;
	box-shadow: 0px 5px 5px 2px #222222;
}
.b_b_box{
	color: white;
	width: 100%;
	/*height: 783px;*/
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
}
.title{
	display: block;
	font-size: 50px;
	animation: title_slideUp 1s;
	
}
.start{
	display: block;
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	animation: title_slideUp 1s;
}
#tap{
	height: 30px;
	width: 50px;
	display: block;
	margin: 3% auto;
	cursor: pointer;
	animation: slide 1s linear 0s infinite alternate;
}
.object{
	width: 100%;
	height: auto;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: whitesmoke;
	position: relative;
	color: #353535;
	overflow: hidden;
}
.obj_tit{
	font-size: 30pt;
	text-align: center;
	display: block;
	position: relative;
	/*padding: 20% 0 2%;*/
	/*z-index: 99;*/
}
.object_bg{
	width: 100%;
	height: auto;
	background-color: whitesmoke;
	position: relative;
	overflow: hidden;
}
.obj_s{
	float: left;
	margin-left: 4%;
	margin-bottom: 4%;
	background-color: whitesmoke;
	text-align: center;
	display: none;
}
.obj_s_show img{
	height: 40%;
	border-radius: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
}
.go{
	display: block;
	margin-bottom:10%;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: pink;
	cursor: pointer;
}
.go i{
	line-height: 40px;
	margin-left: 5px;
}
.obj_s_show p{
	font-size: 20pt;
	color: #353535;
}
.csl{
	width: 100%;
	background-color: white;
	height: auto;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: #353535;
	position: relative;
	color: ghostwhite;
	overflow: hidden;
	box-shadow:  0px 10px 10px #222222;
}
.csl_s_show img{
	height: 40%;
	border-radius: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
}
.csl_tit{
	font-size: 30pt;
	text-align: center;
	display: block;
	position: relative;
	/*padding: 20% 0 2%;*/
	/*z-index: 99;*/
}
.csl_bg{
	width: 100%;
	height: auto;
	background-color: #353535;
	position: relative;
	overflow: hidden;
}
.csl_s{
	float: left;
	margin-left: 4%;
	margin-bottom: 4%;
	background-color: #353535;
	text-align: center;
	display: none;
}
.fot{
	height: auto;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: darkgray;
}
.fot a:hover{
	color: #A9A9A9;
}
.b_nav{
	height: auto;
	width: 100%;
	text-align: center;
	display: block;
}
.b_nav ul{
	height: auto;
	width: 100%;
	display: block;
	padding: 15px 0;
	line-height: 20px;
	font-size: 18px;
}
.b_nav ul li{
	height: 20px;
	width: 32%;
	max-width: 200px;
	border-right: 1px solid #353535;
	display: inline-block;
}
.b_nav ul li:last-child{
	border-right: none;
}
.b_nav ul li a{
	height: 30px;
	width: 100%;
	color: #353535;
	display: inline-block
}
.about{
	width: 100%;
	height: 300px;
	float: left;
	background-color: ghostwhite;
	color: #353535;
	text-align: center;
}
.about p{
	vertical-align: middle;
	line-height: 30px;
}
.about img{
	height: 90px;
	width: 90px;
}


